.animated-image {
  transform: rotate(0deg);
  transition: transform 1s;
}

.App-logo2 {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo2 {
    animation: App-logo2-spin infinite 20s linear;
  }
}

@keyframes App-logo2-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-logo {
  height: 20px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
     transform: scale(1.2);
  }
  to {
    transform: rotate(160deg);
       transform: scale(2.2);
  }
}


.card{
max-width: 12 pct;
border: 3 pct;
}


.navbar2 {
    background-color: #ffffff !important;
}
.img2{

  width: 19%;
}
.uu{
max-width: 5700px
}
.h1{
color: blue;}
  . p    {color: red;}

        ul li a:hover {background: #ff9696;}

        .carousel {
          --current-slide: 0;
          /* we set position relative so absolute position works properly for the buttons */
          position: relative;
          overflow: hidden;
        }

        .carousel-button {
          /* vertically centering the buttons */
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;

          /* basic styling */
          padding: 0;
          margin: 0.5rem;
          border-radius: 40%;
          background-color: transparent;
          border: none;

          font-size: 1.5rem;
          cursor: pointer;

          transition: color 0.1s;
        }

        .carousel-button:hover {
          color: rgba(0, 0, 0, 0.5);
        }

        .carousel-button_next {
          /* The "next slide button" will be at the right */
          right: 0;
        }

        .slides {
          display: flex;
          transition: transform 0.5s;
          transform: translateX(calc(-100% * var(--current-slide)));
        }

        .slide {
          flex: 0 0 100%;
        }

        @media screen and (min-width: 768px) {
          .carousel-button {
            font-size: 2rem;
            margin: 1rem;
          }
        }

.row{
    max-width: 90%;
}
.img.small {
    max-height: 60rem!important;
}
img.small {
    max-height: 29rem;
}