.img2{

  width: 110px!important;
  height:110px!important;
}


.navbar {
  background-color: #ff9696  !important;
}
.navbar-brand{
 color: #000;
}
.li {
    color: #000;
}
.footer{
color: #000!important;
}
.container2{
  background-color: #000  !important;
}