<component name="libraryTable">
  <library name="springframework.boot.spring.starter.validation" type="repository">
    <properties maven-id="org.springframework.boot:spring-boot-starter-validation:3.0.2" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/boot/spring-boot-starter-validation/3.0.2/spring-boot-starter-validation-3.0.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/boot/spring-boot-starter/3.0.2/spring-boot-starter-3.0.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/boot/spring-boot/3.0.2/spring-boot-3.0.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-context/6.0.4/spring-context-6.0.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aop/6.0.4/spring-aop-6.0.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/6.0.4/spring-beans-6.0.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-expression/6.0.4/spring-expression-6.0.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/boot/spring-boot-autoconfigure/3.0.2/spring-boot-autoconfigure-3.0.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/boot/spring-boot-starter-logging/3.0.2/spring-boot-starter-logging-3.0.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/ch/qos/logback/logback-classic/1.4.5/logback-classic-1.4.5.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/ch/qos/logback/logback-core/1.4.5/logback-core-1.4.5.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/slf4j/slf4j-api/2.0.4/slf4j-api-2.0.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/logging/log4j/log4j-to-slf4j/2.19.0/log4j-to-slf4j-2.19.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/logging/log4j/log4j-api/2.19.0/log4j-api-2.19.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/slf4j/jul-to-slf4j/2.0.6/jul-to-slf4j-2.0.6.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/jakarta/annotation/jakarta.annotation-api/2.1.1/jakarta.annotation-api-2.1.1.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/6.0.4/spring-core-6.0.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/6.0.4/spring-jcl-6.0.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/yaml/snakeyaml/1.33/snakeyaml-1.33.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/tomcat/embed/tomcat-embed-el/10.1.5/tomcat-embed-el-10.1.5.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/hibernate/validator/hibernate-validator/8.0.0.Final/hibernate-validator-8.0.0.Final.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/jakarta/validation/jakarta.validation-api/3.0.2/jakarta.validation-api-3.0.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/jboss/logging/jboss-logging/3.4.1.Final/jboss-logging-3.4.1.Final.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/fasterxml/classmate/1.5.1/classmate-1.5.1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>